<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    绑定数据<br />
    {{list.name}}
    {{@list.h}}
    {{if num>20}}
    <strong>大于20</strong>
    {{else}}
    <strong>小于20</strong>
    {{/if}}

    {{each list.data}}
    <li>{{$index}}--{{$value}}</li>
    {{/each}}

    {{include 'public/header'}}

</body>

</html>